datasets==3.6.0
pandas
numpy
chromadb
sentence-transformers
transformers
pillow
tqdm
torch
requests
faiss-cpu
sentence-transformers
open_clip_torch
pillow
torch
torchvision
requests
fastapi
uvicorn
ollama
langchain 
langchain-ollama